.heading-images {
    &__first {
        width: 405px;
        height: 320px;
    }
    &__second {
        width: 465px;
        height: 356px;
        border-width: 1rem;
    }

    &__box {
        position: relative;
        &::before {
            content: '';
            width: 140px;
            height: 820px;
            @apply absolute right-0 border-4 border-brand-primary z-0 -top-brand-12;
        }
    }
}